{erl_first_files, ["src/kv_storage.erl"]}.
{cover_enabled, true}.
{erl_opts, [
	warn_missing_spec,
	debug_info,
	{src_dirs, ["src", "test"]}
]}.
{sub_dirs, [
	"plugins/kyte_kv_storage_plugin",
	"plugins/riak_kv_storage_plugin",
	"plugins/mongodb_kv_storage_plugin",
	"plugins/postgresql_kv_storage_plugin",
	"plugins/mysql_kv_storage_plugin",
	"plugins/cassandra_kv_storage_plugin"
]}.
{deps, [
	{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "1.2.1"}}}
]}.
