{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
	warn_missing_spec,
	debug_info
]}.
{sub_dirs, []}.
{lib_dirs, ["../../.."]}.
{deps, [
	{pooler, ".*", {git, "git://github.com/seth/pooler.git", {branch, "master"}}},
    {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client.git", {branch, "master"}}}
]}.
